.profile {
    width: 800px;
    margin: 0 auto;
}

.profile div {
}

.img-for-profile img{
    width: 170px;
    height: 170px;
    border: 1px solid #000;
    border-radius: 100px;
}
.img-for-profile{
    width: 110px;
    background: #fff;
    float: left;
}

.img-for-profile img {
    width: 160px;
    height: 160px;
    border: 2px solid #fff;
}

.real-profile {
    width: 800px;
    display: block;
    height: 250px;
    border-bottom: 1px solid #fff;
}

.left-side-profile {
    float: left;
    background: black;
    width: 380px;
    border-right: 1px solid #fff;
}

.img-for-profile {
    margin: 20px 0 0 30%;
    background: black;
}

.id-profile {
    width: 30px;
    margin: 10px 0 0 49%;
    padding: 0 0 0 0;
}


.right-side-profile {
    margin: 20px 0 0 0;
}

.right-side-profile ul li{
    width: 400px;
    float: right;
    list-style-type: none;
    margin: 0 0 20px 0;
}

.right-side-profile ul li span {
    font-size: 11px;
    font: bold 11px 'Open Sans', sans-serif;
}



.nickname-profile li {
    margin: 0 0 0 0;
    font-size: 20px;
}

.sidebar-profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid #fff;
}



.sidebar-profile div:hover {
    border-bottom: 1px solid #fff;
}


.state-user {
    padding: 10px 0 0 0;
}

.settings-profile {
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 auto;
}

.left-side-settings {
    border-right: 1px solid #fff;
}

.left-side-settings ul li {
    list-style-type: none;
    margin: 0 0 10px 0;
}

.left-side-settings ul li a:hover {
    border-bottom: 1px solid #fff;
}


.right-side-settings {
    margin: 0 0 0 40px;
    font-size: 13px;
}

.create-new-post {
    width: 800px;
    margin: 0 auto;
}

.create-new-post form textarea, div select, div textarea, input {
    background: #000;
    color: white;
}

.text-create {
    margin: 30px 0 0 0;
}

.center-create {
    width: 500px;
    margin: 0 auto;
}